*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}
.container{
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  body{
    text-align: center;
  }

}